/* src/Icon.css */
 .icon-container {
    height: 40px;
    width: 30px;
 }

 .icon-container.hover {
    opacity: 0.8;
    border-radius: 5px;
    background-color: #edf0fa;
 }
 
 .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
 }
  



  