
.pinned-icon-container{
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 5px;
 }

 .pinned-icon-container.screen{
   margin: 1vw 1vh;
}
 .pinned-icon-container:hover{
    opacity: 0.8;
    border-radius: 5px;
    background-color: white;
 }

 .pinned-icon-container.screen:hover{
      background-color: rgba(255, 255, 255, 0.088);
  }

 .pinned-img {
    width: 35px;
    height: 35px;
    padding: 0px 10px;
  }

  .pinned-text-bar{
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    text-align: center;
    height: 15px;
    font-size: 13px;
    padding: 3px 0px 5px 0px;
    user-select: none; 
    text-transform:capitalize;
  }
  .pinned-text-bar.screen{
    color:#ffffff; 
  }
