/* src/App.css */

body {
  background-image: url('../public/windows-11-bloom.jpg');
  background-color: blueviolet;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh; /* Full viewport height */
  transition: background-image 0.5s ease-in-out; /* Smooth transition */
}
