.textArea {
  cursor: text;
  height: 43vh;
  width: 38.05vw;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 1vh 1vw;
  border: 0px;
  border-radius: 0 0 10px 10px;
  resize: none;
  z-index: 500;
}

.textArea.dark{
  background-color: #333;
  color: whitesmoke;
}

.textArea.maximize{
  height: calc(100% - 48px);
  width: 100vw;
  border-radius: 0px;
}

.textArea:focus {
  border: 0px; /* Remove border on focus */
  padding: 1vh 1vw; /* Remove padding on focus */
  outline: none; /* Remove default focus outline */
}